/* ====== IMPORT FONTS ====== */
@font-face {
  font-family: MonumentRegular;
  src: url(../fonts/MonumentExtendedRegular.otf);
}
@font-face {
  font-family: MonumentUltrabold;
  src: url(../fonts/MonumentExtendedUltrabold.otf);
}
/* ====== VARIABLES ====== */
:root {
  /* ====== TYPOGRAPHY ====== */
  --body-font: "Poppins", sans-serif;
  --heading-font: MonumentRegular;
  --strong-heading: MonumentUltrabold;
  --body-font-size: 0.88rem;
  --heading-font-size: 2rem;
  --surrounding-text-size: 0.6rem;
  /* ====== COLORS ===== */
  --black: #060606;
  --green: #47eb4e;
  --white: #fff;
  --off-white: #e2e2e2;
  --link-bg: #ffffff16;
}
/* ====== DEFAULT ====== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
  font-size: var(--body-font-size);
  font-family: var(--body-font);
  position: relative;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #1b1b1b;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #30b937;
}
h1 {
  font-family: var(--heading-font);
}
.green-text {
  color: var(--green);
}
/* ====== SURROUNDED ELEMENTS ====== */
.surrounded-elements .logo {
  position: fixed;
  top: 1rem;
  left: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.surrounded-elements .logo img {
  width: 2rem;
  transition: 0.8s ease;
}
.surrounded-elements .logo img:hover {
  transform: rotate(360deg) scale(1.2);
}
.surrounded-elements .logo h1 {
  color: var(--off-white);
  font-size: var(--surrounding-text-size);
  margin-left: 0.4rem;
}
.surrounded-elements .copyright {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
}
.surrounded-elements .copyright h1 {
  color: #707070;
  font-size: var(--surrounding-text-size);
  text-align: right;
  font-weight: 100;
}
.surrounded-elements .linevector {
  position: fixed;
  bottom: 1rem;
  left: 1.5rem;
}
.surrounded-elements .linevector img {
  width: 5rem;
}
.surrounded-elements .powered {
  position: fixed;
  top: 1rem;
  right: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.surrounded-elements .powered img {
  width: 1.5rem;
}
.surrounded-elements .powered h1 {
  color: var(--off-white);
  font-size: var(--surrounding-text-size);
  margin-right: 0.4rem;
  text-align: right;
}
/* ====== MAIN ====== */
main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.6rem 0;
  overflow-x: hidden;
}
.upper {
  text-align: center;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upper .texts h1 {
  font-weight: 100;
  font-size: var(--heading-font-size);
  margin-top: 0.4rem;
}
.upper .texts h1 span {
  font-weight: 800;
}
.horizontal-line {
  width: 100%;
  height: 0.11rem;
  background-color: var(--green);
  margin-top: 1rem;
  border-radius: 1rem;
}
.upper .subtexts {
  margin-top: 1rem;
}
.subtexts p {
  color: var(--off-white);
}
.subtexts img {
  width: 6rem;
  margin-top: 1.5rem;
  transition: 0.3s ease;
}
.subtexts img:hover {
  transform: scale(1.1);
}
.links-container {
  margin-top: 2rem;
}
.link {
  background-color: var(--link-bg);
  width: 80vw;
  padding: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  text-decoration: none;
  transition: 0.3s ease;
  font-weight: 700;
  border-radius: 0.5rem;
  position: relative;
}
.link::before {
  content: "";
  position: absolute;
  left: -2%;
  background-color: var(--green);
  width: 3.3rem;
  height: 0.19rem;
  transition: 0.3s ease;
}
.link::after {
  content: "";
  position: absolute;
  right: -2%;
  background-color: var(--green);
  width: 3.3rem;
  height: 0.19rem;
  transition: 0.3s ease;
}
.link:hover::before {
  width: 4rem;
}
.link:hover::after {
  width: 4rem;
}
.link .iconify {
  margin-right: 0.3rem;
}
.link:hover {
  color: var(--green);
}
@media screen and (min-width: 1366px) {
  .link {
    max-width: 70rem;
  }
}
.link:not(first-child) {
  margin-top: 1.6rem;
}
/* ====== RESPONSIVE ====== */
@media screen and (max-width: 508px) {
  .surrounded-elements {
    display: none;
  }
  :root {
    --body-font-size: 0.7rem;
    --heading-font-size: 1.6rem;
    --surrounding-text-size: 0.6rem;
  }
  .link::after,
  .link::before {
    width: 2.8rem;
  }
  .link::after {
    right: -4%;
  }
  .link::before {
    left: -4%;
  }
}
